<div style="padding-bottom: 2%" id="pagebreak1">
  <app-area></app-area>
</div>
<div style="padding-bottom: 2%" id="pagebreak2">
  <app-product></app-product>
</div>
<div style="padding-bottom: 2%" id="pagebreak3">
  <app-spendings></app-spendings>
</div>

<div style="padding-bottom: 0.5%" id="pagebreak4">
  <app-conclusion></app-conclusion>
</div>

<div style="padding-bottom: 1%">
  <p-panel>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-12" style="text-align: center">
        <button
          pButton
          (click)="saveLocalPage()"
          type="button"
          label="บันทึก"
        ></button>
      </div>
    </div>
  </p-panel>
</div>
